* { box-sizing: border-box; }
body { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 1.4; background-color: #54a9d6; margin: 0; }
input, button { font-family: inherit; font-size: inherit; }
a { color: #fad841; text-transform: uppercase; }
ul { padding: 0; margin: 0; list-style: none; }
nav { padding: 10px 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
.container{
    margin: 0px auto 0px auto; 
    max-width: 1170px; 
    }
.container-footer{
    margin: 0px auto 0px auto; 
    max-width: 100%;
    align-items: baseline; 
    }
.header-nav { border-bottom: 1px #fa6641;}
.align-center {align-items: center;}
.brand {
    width: 170px; 
    height: 85px; 
    margin-left: -5px; 
    margin-right: 10px;
    margin-top: 60px;
}
.logo {
    width: 170px;
    height: 85px;
    max-width: 100%;
    height: 100%;
    margin-top: 70px;
}
.flex-one { flex: 1;}
.search-box { 
    width: 330px;
    height: 30px;
    padding: 6px 12px;
    border: 1px solid #a0a0a0;
    }
.search-button { 
        background-color: #fad841;
        color: #ffffff;
        width: 100px;
        height: 30px;
        border: 0;
        padding: 0;
    }
.nav-list { 
        padding-left: 0;
        width: 575px;
        margin-top: 10px;
    }
.space-between {justify-content: space-between;}

.text-primary{ font-size: 16px; color: #fad841;}

footer { 
    display: flex;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    flex-wrap: wrap;
    max-height: 200px;
    background-color: #000000;
}

.lists { 
    flex: 0 0 75%;
    padding: 40px 15px;
}

.link-header { 
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    max-width: 960;
    margin: 0 auto;
}

footer a { 
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 0 4px;  
}
a:hover { color: #fa6641;}

.flex { display: flex;}
.title { 
    font-size: 28px;
    color: #fa6641;
    font-style: italic;
}
.copyright { 
    flex: 0 0 75%;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    margin-bottom: 250px;
    color: #fa6641;}

    .full-banner { 
        padding: 0 15px;
        margin: auto;
        position: relative;
    }
    .full-banner:before { 
        content:"";
        position: absolute;
        border: 1px solid #ffffff;
        top: 30px;
        bottom: 30px;
        left: 50px;
        right: 50px;
        z-index: 1;
    }
    .full-banner-image { 
        flex: 0 0 58.33333%;
        background-image: url('../images/group dance.jpg') ;
        background-size: cover;
        background-position: top center;
        min-height:400px;
    }
    .full-banner-sidebar { 
        flex: 0 0 41.666667%;
        background-color: #364147;
        text-transform: uppercase;
        padding: 30px;
        color: #ffffff;
    }
    .full-banner-sidebar h4:after { 
        content: "";
        width: 100px;
        height: 1px;
        background-color: #faa541;
        margin: 20px auto;
        display: block;
    }
    .full-banner-sidebar > div:nth-of-type(1) { 
        font-size: 60px;
        font-weight: 700;
        line-height: 1;
    }
    .full-banner-sidebar > div:nth-of-type(2) {
        font-size: 25px;
        font-weight: 200;
        letter-spacing: 3px;
    }
    .full-banner-sidebar .btn.btn-default { 
        margin-top: 50px;
        text-transform: uppercase;
        letter-spacing: 1px;
        z-index: 1;
    }
    .center {justify-content: center;}
    .flex-column { flex-direction: column;}
    .btn {
        cursor: pointer;
        border: 0px;
        padding: 6px 12px;
        border-radius: 3px;
        line-height: 1.4;
    }
    .btn-default {color: white;
    background-color: #faa541;}
    .btn-primary {color: white;
    background-color: #364147;
    }