* { box-sizing: border-box; }
body { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 1.4; background-color: #54a9d6; margin: 0; }
input, button { font-family: inherit; font-size: inherit; }
a { color: #fad841; text-transform: uppercase; }
ul { padding: 0; margin: 0; list-style: none; }
nav { padding: 10px 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
.container{
    margin: 0px auto 0px auto; 
    max-width: 1170px; 
    }
.container-footer{
    margin: 0px auto 0px auto; 
    max-width: 100%;
    align-items: baseline; 
    }
.header-nav { border-bottom: 1px #fa6641;}
.align-center {align-items: center;}
.brand {
    width: 170px; 
    height: 85px; 
    margin-left: -5px; 
    margin-right: 10px;
    margin-top: 60px;
}
.logo {
    width: 170px;
    height: 85px;
    max-width: 100%;
    height: 100%;
    margin-top: 70px;
}
.flex-one { flex: 1;}
.search-box { 
    width: 330px;
    height: 30px;
    padding: 6px 12px;
    border: 1px solid #a0a0a0;
    }
.search-button { 
        background-color: #fad841;
        color: #ffffff;
        width: 100px;
        height: 30px;
        border: 0;
        padding: 0;
    }
.nav-list { 
        padding-left: 0;
        width: 575px;
        margin-top: 10px;
    }
.space-between {justify-content: space-between;}

.text-primary{ font-size: 16px; color: #fad841;}

footer { 
    display: flex;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
}


.lists { 
    flex: 0 0 75%;
    padding: 40px 15px;
}

.link-header { 
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    max-width: 960;
    margin: 0 auto;
}

footer a { 
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 0 4px;  
}
a:hover { color: #fa6641;}

.flex { display: flex;}
.title { 
    font-size: 28px;
    color: #fa6641;
    font-style: italic;
}
